src/Server/ss_2e_service.wsdl

<wsdl:definitions
    targetNamespace="http://www.examples.com/wsdl/MyService.wsdl" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://www.examples.com/wsdl/MyService.wsdl" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <!-- WSDL TYPES: definition of the data types that are used in the web service -->
   <wsdl:types>

      <s:schema elementFormDefault="qualified" targetNamespace="http://www.examples.com/wsdl/MyService.wsdl">

         <s:element name="AllTagsSoapRequest">
         <s:complexType>
            <s:sequence>
            </s:sequence>
         </s:complexType>
         </s:element>

         <s:element name="AllTagsSoapResponse">
         <s:complexType>
            <s:sequence>
               <s:element maxOccurs="unbounded" name="tag"/>
            </s:sequence>
         </s:complexType>
         </s:element>
         
      </s:schema>

   </wsdl:types>

   <wsdl:message name = "tagsRequest">
      <wsdl:part name="parameters" element="tns:AllTagsSoapRequest"/>
   </wsdl:message>

   <wsdl:message name = "tagsResponse">
      <wsdl:part name="parameters" element="tns:AllTagsSoapResponse"/>
   </wsdl:message>
   
   <wsdl:portType name = "port">
      <wsdl:operation name = "tags">
         <wsdl:input message = "tns:tagsRequest"/>
         <wsdl:output message = "tns:tagsResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name = "ss_2e_Binding" type = "tns:port">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name = "tags">
         <soap:operation soapAction = "tags" style="document"/>

         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      
   </wsdl:binding>

   <wsdl:service name = "ss_2e">
      <wsdl:port name = "functions" binding = "tns:ss_2e_Binding">
         <soap:address location = "http://localhost:8000/ss_2e" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>