src/Server/ss_2e_service.wsdl

<wsdl:definitions targetNamespace="http://www.examples.com/wsdl/MyService.wsdl"
   xmlns:s="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://www.examples.com/wsdl/MyService.wsdl"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <!-- WSDL TYPES: definition of the data types that are used in the web service -->
   <wsdl:types>

      <s:schema elementFormDefault="qualified" targetNamespace="http://www.examples.com/wsdl/MyService.wsdl">

         <s:element name="allStudentsRequest">
            <s:complexType>
               <s:sequence>
               </s:sequence>
            </s:complexType>
         </s:element>

         <s:element name="allStudentsResponse">
            <xsd:complexType name='studentList'>
               <xsd:complexContent mixed='false'>
                  <xsd:restriction base='soapenc:Array'>
                     <xsd:attribute wsdl:arrayType='studentList[]' ref='soapenc:arrayType' />
                  </xsd:restriction>
               </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name='student'>
               <s:sequence>
                  <xsd:element minOccurs='0' maxOccurs='1' name='id' type='xsd:id'/>
                  <xsd:element minOccurs='0' maxOccurs='1' name='nombre' type='xsd:string'/>
                  <xsd:element minOccurs='0' maxOccurs='1' name='apellido' type='xsd:string'/>
               </s:sequence>
            </xsd:complexType>
         </s:element>

         <s:element name="allTeachersRequest">
            <s:complexType>
               <s:sequence>
               </s:sequence>
            </s:complexType>
         </s:element>

         <s:element name="allTeachersResponse">
            <xsd:complexType name='teacherList'>
               <xsd:complexContent mixed='false'>
                  <xsd:restriction base='soapenc:Array'>
                     <xsd:attribute wsdl:arrayType='teacherList[]' ref='soapenc:arrayType' />
                  </xsd:restriction>
               </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name='teacher'>
               <s:sequence>
                  <xsd:element minOccurs='0' maxOccurs='1' name='id' type='xsd:id'/>
                  <xsd:element minOccurs='0' maxOccurs='1' name='nombre' type='xsd:string'/>
                  <xsd:element minOccurs='0' maxOccurs='1' name='apellido' type='xsd:string'/>
               </s:sequence>
            </xsd:complexType>
         </s:element>

         <s:element name="allAdministrativesRequest">
            <s:complexType>
               <s:sequence>
               </s:sequence>
            </s:complexType>
         </s:element>

         <s:element name="allAdministrativesResponse">
            <xsd:complexType name='AdministrativesList'>
               <xsd:complexContent mixed='false'>
                  <xsd:restriction base='soapenc:Array'>
                     <xsd:attribute wsdl:arrayType='AdministrativesList[]' ref='soapenc:arrayType' />
                  </xsd:restriction>
               </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name='teacher'>
               <s:sequence>
                  <xsd:element minOccurs='0' maxOccurs='1' name='id' type='xsd:id'/>
                  <xsd:element minOccurs='0' maxOccurs='1' name='nombre' type='xsd:string'/>
                  <xsd:element minOccurs='0' maxOccurs='1' name='apellido' type='xsd:string'/>
                  <xsd:element minOccurs='0' maxOccurs='1' name='edad' type='xsd:int'/>
               </s:sequence>
            </xsd:complexType>
         </s:element>
      </s:schema>

   </wsdl:types>

   <wsdl:message name = "administrativesRequest">
      <wsdl:part name="parameters" element="tns:allAdministrativesRequest"/>
   </wsdl:message>

   <wsdl:message name = "administrativesResponse">
      <wsdl:part name="parameters" element="tns:allAdministrativesResponse"/>
   </wsdl:message>

   <!--Definitions Students-->
   <wsdl:message name = "studentsRequest">
      <wsdl:part name="parameters" element="tns:allStudentsRequest"/>
   </wsdl:message>

   <wsdl:message name = "studentsResponse">
      <wsdl:part name="parameters" element="tns:allStudentsResponse"/>
   </wsdl:message>

   <!--Definitions Teachers-->
   <wsdl:message name = "teachersRequest">
      <wsdl:part name="parameters" element="tns:allTeachersRequest"/>
   </wsdl:message>

   <wsdl:message name = "teachersResponse">
      <wsdl:part name="parameters" element="tns:allTeachersResponse"/>
   </wsdl:message>

   <wsdl:portType name = "port">

      <wsdl:operation name = "students">
         <wsdl:input message = "tns:studentsRequest"/>
         <wsdl:output message = "tns:studentsResponse"/>
      </wsdl:operation>

      <wsdl:operation name = "teachers">
         <wsdl:input message = "tns:teachersRequest"/>
         <wsdl:output message = "tns:teachersResponse"/>
      </wsdl:operation>
      <wsdl:operation name = "administratives">
         <wsdl:input message = "tns:administrativesRequest"/>
         <wsdl:output message = "tns:administrativesResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <!--General Binding-->
   <wsdl:binding name = "ss_2e_Binding" type = "tns:port">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

      <!--Function Students-->
      <wsdl:operation name = "students">
         <soap:operation soapAction = "students" style="document"/>

         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <!--Function Teachers-->
      <wsdl:operation name = "teachers">
         <soap:operation soapAction = "teachers" style="document"/>

         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name = "administratives">
         <soap:operation soapAction = "administratives" style="document"/>

         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name = "ss_2e">
      <wsdl:port name = "functions" binding = "tns:ss_2e_Binding">
         <soap:address location = "http://ec2-3-238-177-238.compute-1.amazonaws.com:8000/ss_2e" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
